* {
    box-sizing: border-box;
}

body {
    wrapper {
        display: block;
        margin: auto;
        width: 800px;

        table {
            width: 100%;

            thead {
                tr {
                    th {
                        text-align: left;
                    }
                }
            }
        }

        @media (max-width: 800px) {
            width: 100%;
        }
    }
}